<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.Thymeleaf.org" th:replace="normal/show_conatcs_form::Layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<div class=" mt-3 " id="paginationfragment" th:fragment="pagination(pagination,url)">
	
	<!--	<h1 th:text="${url}"></h1>-->
		
		<nav aria-label="Page navigation example">
		  <ul class="pagination">
		    
		    <li  th:classappend="${currentPage == 0 ? 'disabled' : ''}" class="page-item"><a class="page-link" th:href="@{${url} + ${currentPage-1}}" href="#">Previous</a></li> <!--th:if="${currentPage != 0 }"-->
		   
		    <li th:classappend="${currentPage == i-1 ? 'active' : ''}" th:each="i : ${#numbers.sequence(1,totalPages)}" class="page-item">
				<a th:href="@{${url} + ${i-1}}" class="page-link" href="#">
					<span th:text="${i}"></span>
				</a>
			</li>
		    
		    <li th:classappend="${currentPage+1 == totalPages ? 'disabled' : ''}" class="page-item "><a class="page-link" th:href="@{${url} + ${currentPage+1}}" href="#">Next</a></li> <!--th:if="${currentPage+1 != totalPages }"-->
		  </ul>
		</nav>
		
		
		
		<!--old hard coded code for pagination kept for reference-->
		<!--<nav aria-label="Page navigation example">
			  <ul class="pagination">
			    
			    <li  th:classappend="${currentPage == 0 ? 'disabled' : ''}" class="page-item"><a class="page-link" th:href="@{'/user/show-conact/' + ${currentPage-1}}" href="#">Previous</a></li> th:if="${currentPage != 0 }"
			   
			    <li th:classappend="${currentPage == i-1 ? 'active' : ''}" th:each="i : ${#numbers.sequence(1,totalPages)}" class="page-item">
					<a th:href="@{'/user/show-conact/' + ${i-1}}" class="page-link" href="#">
						<span th:text="${i}"></span>
					</a>
				</li>
			    
			    <li th:classappend="${currentPage+1 == totalPages ? 'disabled' : ''}" class="page-item "><a class="page-link" th:href="@{'/user/show-conact/' + ${currentPage+1}}" href="#">Next</a></li> th:if="${currentPage+1 != totalPages }"
			  </ul>
		</nav>-->
	</div>
</body>
</html>	